.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
}

.header-links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    list-style-position: inherit;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
    height: 22px;
}

.header-links-list-item {
    justify-self: center;
    line-height: 100%;
}

/*делает первую ссылку без кружочка*/
.header-links-list-item-no-bullit {
    list-style: none;
}

/*делает первую ссылку без подчеркивания*/
.header-links-list-item-no-bullit a {
    text-decoration: none;
}

.header-link-active {
    text-decoration: underline solid black 1px;
    text-underline-offset: 4px;
}

.header-logo-image {
    display: block;
    width: 148px;
    height: 105px;
}

.address {
    font-size: 18px;
    line-height: 24.3px;
}

.header-address {
    width: 240px;
    height: 98px;
    justify-self: end;
}

.address a {
    text-decoration: underline solid black 1px;
    text-underline-offset: 4px;
}

/*блок cover*/

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 180px;
}

.overlay {
    background-color: rgb(0 0 0 / 0.6);
    width: 100%;
    height: 100%;
    /* position: absolute;
    z-index: 1;
    top: 0;
    left: 0; */
}

.cover-title {
    position: relative;
    font-weight: 700;
    font-size: 100px;
    font-style: bold;
    width: 1000px;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 26px;
    margin: 0 auto;
    padding-top: 165px;
    padding-bottom: 106px;
}

.aligned-text {
    position: relative;
    display: block;
    text-align: left;
    line-height: 114.9%;
    padding-bottom: 20px;
}

.aligned-text-center {
    text-align: center;
}

.aligned-text-right {
    text-align: right;
    justify-content: center;
    padding-bottom: 0;
}

.cover-description {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    
}

.cover-description-text {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
}

.letter-spacing-extended {
    word-spacing: 22px;
}

.bet-button {
    width: 256px;
    padding-block: 0;
    padding-inline: 0;
    border-width: 1px;
    background-color: transparent;
    border-style: solid;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 11px;
}

/*блок Лотов*/

.lots {
    position: relative;
    width: 1052px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.lots-heading {
    font-style: bold;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    padding-left: 40px;
    padding-bottom: 27px;
}

.lots-card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lots-card-list-item {
    width: 334px;
    min-height: 596px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    height: 596px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.overlay-cards {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.centered-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-type-film {
    background-image: url(../images/card-lot-01.jpg);
}

.card-type-book {
    background-image: url(../images/card-lot-02.jpg);
}

.card-type-picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-title {
    width: 254px;
    font-weight: 700;
    font-style: bold;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-color: #FFFFFF;
    padding-top: 48px;
}

.card-text {
    width: 254px;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    padding-bottom: 48px;
}

.lots-look-more-link {
    font-size: 20px;
    letter-spacing: 100%;
    text-decoration: underline solid black 1px;
    padding-left: 40px;
}

/*блок about*/

.about {
    width: 1052px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 359px 1fr;
    position: relative;
    margin-bottom: 180px;
}

.about-column-logo {
    padding-top: 35px;
    justify-items: center;
}

.about-column-text {
    padding-top: 133px;
}

.about-logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
   align-items: center;
}

.about-logo-image {
    width: 148px;
    height: 114px;
}

.about-title {
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    padding-bottom: 100px;
}

.about-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 24px;
}

.about-text:last-child {
    padding-bottom: 0;
}

/*блок footer*/

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 180px;
    justify-items: center;
}

/*секция с навигацией*/

.footer-menu-list {
    list-style: none;
}

.footer-menu-list-item {
    font-size: 18px;
    line-height: 100%;
    text-align: center;
}

.footer-menu-link {
    text-decoration: underline solid black 1px;
}

.footer-menu-link-active {
    text-decoration: none;
}

/*список с иконками*/

.footer-social-list {
    width: 240px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer-social-list-item {
    width: 48px;
    height: 48px;
}